
<div class="sidebar">
    <nav class="nav flex-column">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About Us</a>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/invoices">Invoices</a>
        <a class="nav-link" href="/contact">Contact</a>
    </nav>
</div>
